## SPDX-License-Identifier: GPL-2.0-only

if BOARD_PCCHIPS_M720 || BOARD_PCCHIPS_P2200 || BOARD_PCCHIPS_P2200_ACPI || BOARD_PCCHIPS_P2200_TINY

config BASE_PCCHIPS_M720
	def_bool n
	select SDRAMPWR_4DIMM
	select HAVE_MP_TABLE

config ROM_SIZE_TINY
	def_bool n
	select BOARD_ROMSIZE_KB_128

config ROM_SIZE_NORMAL
	def_bool n
	select BOARD_ROMSIZE_KB_256

config BOARD_SPECIFIC_OPTIONS
	def_bool y
	select ACPI_NO_CUSTOM_MADT
	select CPU_INTEL_SLOT_1
	select NORTHBRIDGE_INTEL_I440LX
	select SOUTHBRIDGE_INTEL_I82371EB
	select SUPERIO_ITE_IT8679F
	select HAVE_PIRQ_TABLE
	select ROM_SIZE_TINY if BOARD_PCCHIPS_P2200_TINY
	select ROM_SIZE_NORMAL if BOARD_PCCHIPS_M720 || BOARD_PCCHIPS_P2200 || BOARD_PCCHIPS_P2200_ACPI
	select HAVE_OPTION_TABLE
	select USE_OPTION_TABLE
	select SDRAMPWR_4DIMM if BOARD_PCCHIPS_M720 || BOARD_PCCHIPS_P2200
	select HAVE_ACPI_TABLES if BOARD_PCCHIPS_P2200_ACPI
	select BASE_PCCHIPS_M720 if BOARD_PCCHIPS_M720 || BOARD_PCCHIPS_P2200 || BOARD_PCCHIPS_P2200_TINY

config MAX_CPUS
	int
	default 2 if BOARD_PCCHIPS_M720 || BOARD_PCCHIPS_P2200 || BOARD_PCCHIPS_P2200_TINY

config MAINBOARD_DIR
	default "pcchips/m720"

config MAINBOARD_PART_NUMBER
	default "M720" if BOARD_PCCHIPS_M720
	default "P2200" if BOARD_PCCHIPS_P2200 || BOARD_PCCHIPS_P2200_TINY

config VARIANT_DIR
	default "m720" if BOARD_PCCHIPS_M720
	default "p2200" if BOARD_PCCHIPS_P2200 || BOARD_PCCHIPS_P2200_TINY

config OVERRIDE_DEVICETREE
	default "variants/\$(CONFIG_VARIANT_DIR)/overridetree.cb"

config IRQ_SLOT_COUNT
	int
	default 7 if BOARD_PCCHIPS_M720 || BOARD_PCCHIPS_P2200 || BOARD_PCCHIPS_P2200_TINY
	default 6

endif
