## SPDX-License-Identifier: GPL-2.0-only

config BOARD_MSI_MS6117
	def_bool n
	select ACPI_NO_CUSTOM_MADT
	select CPU_INTEL_SLOT_1
	select NORTHBRIDGE_INTEL_I440LX
	select SOUTHBRIDGE_INTEL_I82371EB
	select SUPERIO_WINBOND_W83977TF
	select W83977TF_HAVE_SEPARATE_IR_DEVICE
	select BOARD_ROMSIZE_KB_256
	select HAVE_OPTION_TABLE
	select HAVE_CMOS_DEFAULT
	select HAVE_PIRQ_TABLE
	select HAVE_ACPI_TABLES
	select GENERATE_SMBIOS_TABLES
	select SDRAM_3DIMM_REVERSE_OFFSET

if BOARD_MSI_MS6117

config MAINBOARD_DIR
	default "msi/ms6117"

config MAINBOARD_PART_NUMBER
	default "MSI LX6 (MS-6117)" if BOARD_MSI_MS6117

config MAINBOARD_VENDOR
	default "Micro-Star International Co., Ltd."

config MAINBOARD_FAMILY
	default "Default string"

config IRQ_SLOT_COUNT
	int
	default 7 if BOARD_MSI_MS6117

config MAINBOARD_SMBIOS_PRODUCT_NAME
	default "MS-6117 (i440LX)"

config MAINBOARD_SMBIOS_MANUFACTURER
	string
	default "Micro-Star International Co., Ltd."

endif
